  
.ck.ck-editor__editable_inline>:last-child {
    min-height: 55vh;
  }

#mylayoutEdit_table{
    max-width: 1600px;
    min-width: 1000px;
    width: calc( 100% - 100px);
    margin: 0 auto;
    margin-top: 50px;
/*    margin: 0 auto !important;*/
}  

#mylayoutEdit_table .addtableClm{
    padding: 0;
}

#editBtn{
    padding: 0;
    text-align: right;
}


@media screen and (max-width: 999px) {
    #mylayoutEdit_table{
        max-width: 999px;
        min-width: 768px;
    }
  }

@media screen and (max-width: 768px) {
    #mylayoutEdit_table{
        max-width: 768px;
        min-width: 480px;
    }
    .ck.ck-editor__editable_inline>:last-child {
        min-height: 40vh;
      }
}

@media screen and (max-width: 480px) {
    #mylayoutEdit_table{
        max-width: 480px;
        min-width: 270px;
        width: 100%;
    }

}