#mylayoutTable{
    max-width: 1600px;
    /* min-width: 1000px; */
    width: calc( 100% - 100px);
    margin: 0 auto;
/*    margin: 0 auto !important;*/
}  

#mylayoutTable .buttonColumn {
    padding: 0;
    text-align: right;
}

#mylayoutTable .contentColumn {
    padding: 0;
    width: 100%;
    border-radius: 10px;
}
#mylayoutTable .contentColumn .contentAutor {
    margin: 3px 0 0 0px;
}
#mylayoutTable .commnetColumn {
    padding: 0;
    width: 100%;
}

#mylayoutTable .commnetColumn .commentHeader .commentIcon {
    padding: 0;
    position: absolute;
    font-size: 0.8rem;
    right: 0;
    top: 0;
    margin: 10px 10px 0 0;
    cursor: pointer;
    
}

.ui.dropdown .menu{
    left: -3rem !important;
}

/* 
@media only screen and (min-width: 768px) and (max-width: 999px) {
    #mylayoutTable{
        max-width: 999px;
        min-width: 768px;
    }
  }
@media only screen and (min-width: 480px) and (max-width: 768px) {
#mylayoutTable{
    max-width: 768px;
    min-width: 480px;
}
}
@media screen and (max-width: 480px) {
    #mylayoutTable{
        max-width: 480px;
        min-width: 270px;
        width: 100%;
    }
} */