<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.TableMapper">
    <insert id="insertOne" parameterType="Table">
        INSERT INTO TABLES(TABLE_TITLE, TABLE_AUTOR, TABLE_TEXT) VALUES(#{table_title},#{table_autor},#{table_text})
    </insert>
    <select id="getAll" resultType="Table">
        SELECT * FROM TABLES
    </select>

    <delete id="delete" >
        delete from member where id = #{table_id} 
    </delete>
        <!--
    // @Insert("INSERT INTO tables(table_title, table_autor, table_text) VALUES(#{table.title},#{table.autor},#{table.text})")
    // int insert(@Param("tables")Table table);

    // @Select("SELECT * FROM TABLES")
    // List<Table> getAll();
    -->
</mapper>