<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.TableMapper">

    <insert id="insertTable" parameterType="TableDTO">
        INSERT INTO TABLES(TABLE_TITLE, TABLE_AUTOR, TABLE_TEXT, CREATEDAT, UPDATEDAT) VALUES(#{table_title},#{table_autor},#{table_text},SYSDATE, SYSDATE)
    </insert>
    
    <select id="selectTable" resultType="TableDTO" parameterType="TableDTO">
        SELECT * FROM TABLES ORDER BY table_id ASC
    </select>

    <update id="updateTable" parameterType="TableDTO">
        UPDATE TABLES SET 
            TABLE_TITLE = #{table_title},
            TABLE_TEXT = #{table_text},
            UPDATEDAT = SYSDATE
        WHERE
            TABLE_ID = #{table_id} 
    </update>

    <delete id="deleteTable" parameterType="long">
        DELETE FROM TABLES WHERE TABLE_ID = #{table_id} 
    </delete>

    <select id="selectDetail" parameterType="long" resultType="TableDTO">
    SELECT * FROM
        TABLES
    WHERE
        TABLE_ID = #{table_id} 
	</select>


</mapper>